module.exports=` .zp141 {
    font-size: 13px;
    padding: 5px;
}

.zp141 .main {
    display: flex;
    max-height: 500px;
}

.zp141 table,
.zp141 .treeWrap {
    max-height: 100%;
}

.zp141 .btns {
    margin-bottom: 6px;
}

.zp141 svg {
    cursor: pointer;
    color: grey;
}

.zp141 .search {
    margin: 0px 5px;
}

.zp141 .loaded {
    margin: 6px;
}

.zp141 .rmableinput {
    display: inline-block;
    position: relative;
}

.zp141 .rminput {
    position: absolute;
    top: 5px;
    right: 3px;
    padding: 3px;
    color: silver;
    display: none;
    background: white;
}

.zp141 .rmableinput:hover .rminput {
    display: inline-block;
}

.zp141 .clock {
    width: 17px;
    padding: 1px;
    right: 24px;
}

.zp141 .btns label {
    margin-left: 11px;
    display: inline-block;
}

.zp141 label .zinput,
.zp141 label .zswitch {
    margin-left: 5px;
}

.zp141 label input[type=checkbox] {
    width: 17px;
    height: 17px;
    position: relative;
    top: 5px;
}

.zp141 table {
    overflow-y: auto;
    display: block;
    flex: 1;
}

.zp141 thead {
    position: sticky;
    top: 0;
    z-index: 9;
}

.zp141 .zmodal {
    min-width: unset;
}

.zp141 .menu {
    position: absolute;
    background-color: #fff;
    min-width: 112px;
    border-radius: 2px;
    padding: 6px 0;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
    z-index: 9;
}

.zp141 .menu>div {
    cursor: pointer;
    padding: 4px 4px 4px 11px;
    position: relative;
}

.zp141 .menu>div:hover {
    background: rgb(0 0 0 / 14%);
}

.zp141 .treeWrap {
    width: 240px;
    border: 1px solid #e7e7e7;
    margin-right: 3px;
}

.zp141 .treeHead {
    background: rgb(245 245 245);
    border-bottom: 1px solid #e7e7e7;
    padding: 8px;
    line-height: 18px;
}

.zp141 .tree {
    overflow-x: auto;
    max-height: calc(100% - 35px);
    padding: 5px 0;
}

.zp141 .tree .node {
    padding-left: 11px;
    white-space: nowrap;
}

.zp141 .tree>.node {
    padding-left: 0;
}

.zp141 .tree .txt {
    cursor: pointer;
}

.zp141 .tree .selected {
    color: #0084ff;
    font-weight: bold;
}

.zp141 .tree .switcher {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.zp141 .tree .switcher.hasChild {
    cursor: pointer;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbD0iIzk3QTNCNyI+PHBhdGggZD0iTTUgNmwzIDQuNUwxMSA2SDV6IiBmaWxsLW9wYWNpdHk9Ii45IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
    transition: .3s;
}

.zp141 .tree .switcher.close {
    transform: rotate(-90deg);
}

.zp141 .observer {
    height: 2px;
}


`